@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

.hero{
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.header-logo, .header-links{
    margin: 10px 30px 5px;
}

.nav a{
    color: #F9FAF8;
    padding: 5px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 8px;
    display: inline-block;
}

.hero-main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    margin: auto;
    margin-top: 150px;
}

.heroinfo h1{
    margin: 10px;
    font-size: 48px;
}

.heroinfo p{
    margin: 10px;
}

.botuncic{
    cursor: pointer;
    margin: 10px;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
}

.info-heading{
    margin: 0 auto;
    color: white;
}

.infotab{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: space-around;
    justify-content: space-evenly;
    width: 70%;
    height: 500px;
    
}

.infotab .info-container{
    display: flex;
    justify-content: space-around;
}

.product-info{
    margin: 15px;
    width: 200px;
    color: white;
}

.quote-container{
    background-color: #e5e7eb;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockquote{
    height: 40%;
    width: 700px;
    background-color: #d9dbde;
    padding: 30px;
    margin: 10px 30px;
    border: 1px solid #c1c3c7;
}

.blockquote-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

.blockqoute-autor {
    margin: 15px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.sign-up-container{
    height: 40%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sign-up{
    background-color: #3882f6;
    border-radius: 7px;
    width: 50%;
    height: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sign-up-text p, .sign-up-text h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.sign-up-button button {

    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: #fff;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    color: #0d6efd;
    border-color: #0d6efd;

}